<a href="https://colab.research.google.com/github/Rolweezy/Pythonafaundamentals/blob/main/PythonMorningClass_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Test")

Test

This is a sample text

In [ ]:
print("This is a sample text")

This is a sample text

- Interpreted Languages - are executed a single line at a time - eg Python (slower in comparison)

- Compiled Languages - are packaged into one then executed as a whole - eg. C, C++, C# (faster than interpreted languages)

Comments - a comment is a line within code that is not executed

In [ ]:
print("eMobilis Technology Training Institute")
# print("Data Science")
print("I am excited to be here")

eMobilis Technology Training Institute
I am excited to be here

In [ ]:
# code to display the high school I went to
print("Nairobi School")

Nairobi School

Variables - store values

In [ ]:
name = "Peter Gachuki"

print(name)

Peter Gachuki

In [ ]:
country = "Kenya"
county = "Nairobi County"
constituency = "Kasarani Constituency"

print(country)
print(county)
print(constituency)

Kenya
Nairobi County
Kasarani Constituency

In [ ]:
age = 30
weight = 70.5

print(age)
print(weight)

30
70.5

In [ ]:
print(type(country))
print(type(age))
print(type(weight))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
jina = "John Doe"

print(jina)

John Doe

Rules followed when naming variables:

- You can only use uppercase, lowercase, underscores or numbers
- You should always start variable names with lowercase letters
- You should not have white spaces within a variable name
1. Snake casing
2. Camel casing

In [1]:
first_name = "Ronald"
last_name = "Oluoch"

primarySchool = "Jikaze Primary"
highSchool = "Hekima Secondary"

print(f"My name is {first_name} {last_name}. I went to Primary School at {primarySchool} and then to {highSchool} for my Secondary School Education.")

My name is Ronald Oluoch. I went to Primary School at Jikaze Primary and then to Hekima Secondary for my Secondary School Education.

In [ ]:
full_name = input("Enter your name here : ")
age = input("Enter your age here : ")
hobby = input("Enter your favourite hobby here : ")

print(f"My name is {full_name}. I am {age} years old and my favourite hobby is {hobby}.")

Enter your name here : Mark Kenny
Enter your age here : 50
Enter your favourite hobby here : Running
My name is Mark Kenny. I am 50 years old and my favourite hobby is Running.

In [ ]:
print(type(full_name))
print(type(age))
print(type(hobby))

<class 'str'>
<class 'str'>
<class 'str'>

Write a python script that does the following

- Prompts a user to enter their full name, age, gender(Male or Female) residence and home county

- Prints output eg. My name is John Doe, a 35 year old male from Mombasa County , currently living in Nairobi West

In [ ]:
full_name = input("Enter your full name here : ")
age = input("Enter your age here : ")
gender = input("Enter your gender here : ")
county = input("Enter your county here : ")
residence = input("Enter your residence here : ")

print(f"My name is {full_name}, a {age} year old {gender} from {county}, currently living in {residence}")

Enter your full name here : Timothy Mulindi
Enter your age here : 31
Enter your gender here : Male
Enter your county here : Machakos
Enter your residence here : Juja
My name is Timothy Mulindi, a 31 year old Male from Machakos, currently living in Juja

Datatypes in Python

- Strings - characters, words, sentences, paragraphs etc
- Numerical datatypes
1. Integers
2. Float
- Booleans - True or False
- Sequential datatypes
- Dictionaries

In [ ]:
print("This is Peter's laptop")

This is Peter's laptop

In [ ]:
print("25" + "50")

2550

In [ ]:
print(type(age))

<class 'str'>

In [ ]:
age = int(age)

In [ ]:
print(type(age))

<class 'int'>

In [ ]:
print(2025 - age)

1994

Write a python script that does the following:

- Takes age of a user using an input function

- Calculates the number of years after independence they were born ( independence - 1963)

- Outputs the result eg You were born 40 years after Kenya got its independence

In [ ]:
age = input("Enter your age here : ")

age = int(age)

current_year = 2025

y_o_b = current_year - age

independence_year = 1963

years_after_independence = y_o_b - independence_year

print(f"You were born {years_after_independence} years after Kenya got independence.")

Enter your age here : 30
You were born 32 years after Kenya got independence.

In [ ]:
# Booleans - true or false values

is_hungry = True
is_present = False

In [ ]:
int_40 = 40
str_40 = "40"

print(20 + int(str_40))

60

String Methods

In [ ]:
language = "Python"

print(type(language))

<class 'str'>

.upper() - converts the string to uppercase

In [ ]:
print(language.upper())

PYTHON

.lower() - converts the string to lowercase

In [ ]:
print(language.lower())

python

.replace()

In [ ]:
language = language.replace("P", "J")
print(language)

Jython

In [ ]:
sample_text = "The quick brown fox  jumps over the lazy dog."
sample_text = sample_text.replace("  ", " ")
print(sample_text)

The quick brown fox jumps over the lazy dog.

Write a python script that does the following:

1. Takes inputs from a user - name, religion, marital status, number of children, and a list of things they love doing(separated with spaces)

2. Convert the name, religion and marital status to uppercase

3. Convert the number of children into an integer then find out how many more children they have to bear to equal Akuku Danger's 200

4. Replace the spaces in list of things they love doing with commas eg replace 'running cooking talking' with 'running, cooking, talking'

In [ ]:
name = input("Enter your name here : ").upper()
religion = input("Enter your religion here : ").upper()
marital_status = input("Enter your marital status here : ").upper()
number_of_children = int(input("Enter your number of children you have here : "))
things_you_love_doing = input("Enter the things you love doing here : ").replace(" ", ", ")

akuku_children = 200

difference = akuku_children - number_of_children

print(f"My name is {name}. I am a {religion} and I am also {marital_status}. I am {difference} children away from equalling Akuku Danger's children. I love {things_you_love_doing}")

Enter your name here : Nicodemus Onyancha
Enter your religion here : Christian
Enter your marital status here : Married
Enter your number of children you have here : 5
Enter the things you love doing here : exercise reading writing
My name is NICODEMUS ONYANCHA. I am a CHRISTIAN and I am also MARRIED. I am 195 children away from equalling Akuku Danger's children. I love exercise, reading, writing

.split() -

In [ ]:
paragraph = "This is a sample message. It does not do much. It is just there for show"

print(paragraph.split("."))

['This is a sample message', ' It does not do much', ' It is just there for show']

Arithmetic Operators

- Addition +
- Subtraction -
- Multiplication *
- Division /
- Floor Division // - quotient
- Modulus % - remainder
- Exponent ** - power

In [ ]:
print(10 + 50)

60

In [ ]:
print(100 - 27)

73

In [ ]:
print(45 * 8)

360

In [ ]:
print(489 / 17)

28.764705882352942

In [ ]:
print(489 // 17)

28

In [ ]:
print(10 % 3)

1

In [ ]:
# floor division - quotient
# modulus - remainder

# 10 / 3 is equal to floor_division remainder modulus

print(2 ** 3)

8

Write a python script that does the following:

1. Takes two number inputs from the user
2. Calculates the sum, difference, product, division, floor division, exponent, modulus result and returns to the user
3. eg 10 / 3 is 3 remainder 1

In [ ]:
num1 =  int(input("Enter your first number here : "))
num2 =  int(input("Enter your second number here : "))

sum = num1 + num2
diff = num1 - num2
prod = num1 * num2
div = num1 / num2
floor_div = num1 // num2
modulus = num1 % num2
exponent = num1 ** num2

print(f"Given {num1} and {num2} respectively, their sum is {sum}, difference is {diff}, product is {prod}, division is {div}, floor division is {floor_div}, modulus is {modulus} and exponent is {exponent}")

print(f"{num1} / {num2} is {floor_div} remainder {modulus}")

Enter your first number here : 34
Enter your second number here : 12
Given 34 and 12 respectively, their sum is 46, difference is 22, product is 408, division is 2.8333333333333335, floor division is 2, modulus is 10 and exponent is 2386420683693101056
34 / 12 is 2 remainder 10

Assignment Operators

Assign =

Add and assign +=

Subtract and assign -=

Multiply and assign *=

Divide and assign /=

Floor divide and assign //=

Modulus and assign %=

Exponent and assign

In [ ]:
phone = "Samsung"

print(1 == 1)

True

In [ ]:
number = 5

# number = number + 3
number += 3

print(number)

8

In [ ]:
number = 20

# number = number - 7
number -= 7

print(number)

13

Comparison Operators - return a boolean value

Equal to ==

Not equal to !=

Greater than >

Less than <

Greater than or equal to >=

Less than or equal to <=

In [ ]:
print(1200 == 5000)

False

In [ ]:
print("Peter" != 43)

True

In [ ]:
print(43 > 55)

False

In [ ]:
len("Peter")

5

In [ ]:
print(len("eMobilis") > len("Technology"))

False

In [ ]:
print(500 < 2000)

True

In [ ]:
print(49 >= 49)

True

Write a python script that takes two inputs

- Mary's salary
- John's salary

The script is supposed to return whether Mary gets a higher salary than John - Boolean

In [ ]:
mary_sal = int(input("How much does Mary earn ? : "))
john_sal = int(input("How much does John earn ? : "))

mary_higher_john = mary_sal > john_sal

print(f"It is {mary_higher_john} that Mary earns more than John.")

How much does Mary earn ? : 200000
How much does John earn ? : 150000
It is True that Mary earns more than John.

Conditional Statements - if statements - check for conditions

Syntax:

In [ ]:
# if condition:
#   code to be run if the condition is satisfied
# else:
#   code to be run if the condition is not satisfied

if 10 > 5:
  print("Ten is greater than five")
else:
  print("Ten is not greater than five")

Ten is greater than five

Example output:

Mary earns more than John by 30000

John earns more than Mary by 50000

Return the difference in USD

In [ ]:
mary_sal = int(input("How much does Mary earn in Kenyan Shillings ? : "))
john_sal = int(input("How much does John earn in Kenyan Shillings? : "))

mary_higher_john = mary_sal > john_sal

if mary_higher_john:
  diff = (mary_sal - john_sal) / 129
  print(f"Mary earns more than John by {diff} USD")
else:
  diff = (john_sal - mary_sal) / 129
  print(f"John earns more than Mary by {diff} USD")

How much does Mary earn ? : 250000
How much does John earn ? : 400000
John earns more than Mary by 150000

In [ ]:
# if condition1:
#   code to be run if the condition1 is satisfied
# elif condition2:
#   code to be run if the condition2 is satisfied
# elif condition3:
#   code to be run if the condition3 is satisfied
# else:
#   code to be run if all the conditions are not satisfied

num1 = 50
num2 = 100

if num1 == num2:
  print(f"{num1} is equal to {num2}")
elif num1 > num2:
  print(f"{num1} is greater than {num2}")
else:
  print(f"{num1} is less than {num2}")

50 is less than 100

Write a python script that does the following:

1. Takes two inputs from the user - name, year of birth
2. Calculate their age.

3. Use conditional statements to categorize them as one of these: infant(0-1), toddler(2-4), child(5-12), teenager(13-19), youth(20-35), senior(36-55), elderly(over 55)

Return the result eg John Doe is a 32-year-old youth.

In [ ]:
name = input("Enter your name here : ")
year_of_birth = int(input("Enter the year you were born : "))

age = 2025 - year_of_birth

if age >= 0:
  if age <= 1:
    print(f"{name} is a {age}-year-old infant")
  elif age <= 4:
    print(f"{name} is a {age}-year-old toddler")
  elif age <= 12:
    print(f"{name} is a {age}-year-old child")
  elif age <= 19:
    print(f"{name} is a {age}-year-old teenager")
  elif age <= 35:
    print(f"{name} is a {age}-year-old youth")
  elif age <= 55:
    print(f"{name} is a {age}-year-old senior")
  else:
    print(f"{name} is a {age}-year-old elderly person")
else:
  print(f"You have entered an invalid year : {year_of_birth}")

Enter your name here : Peter
Enter the year you were born : 2030
You have entered an invalid year : 2030

Write a python script that takes 2 inputs - name, year of birth

Use conditional statements to categrize them into generations - gen alpha, gen z, millenials, baby boomers

In [ ]:
name = input("Enter your name here : ").upper()
gender = input("Enter your gender here : ")
y_o_b = int(input("Enter your year of birth : "))

age = 2025 - y_o_b

if age <= 12:
  generation = "Gen Alpha"
elif age <= 29:
  generation = "Gen Z"
elif age <= 45:
  generation = "Millenial"
elif age <= 65:
  generation = "Gen X"
elif age <= 80:
  generation = "Baby Boomer"
else:
  generation = "Greatest Generation"

print(f"{name} is a {age}-year-old {generation} {gender}")

Enter your name here : John DOe
Enter your gender here : Male
Enter your year of birth : 1987
JOHN DOE is a 38-year-old Millenial Male

In [ ]:
number = 200

if number % 2 == 0:
  print(f"{number} is divisible by 2")
else:
  print(f"{number} is not divisible by 2")

200 is divisible by 2

Write a python script that does the following:

1. Takes two number inputs eg divisiblity of 5

1st input is 5

2nd input is the number we want to check if it is divisible by 5

return the result

2. Calculator

Takes two number inputs, an an opertor input

eg 25 as first input

10 as the second input

+ as the operator input

Display the result as follows: 25 + 10 is equal to 35

Write a python script that:
1. Takes input from the user - year eg 2012

2. Checks whether that year is/was a leap year
- check if it is divisible by 4

 it is a leap year, unless it is also divisible by 100

 but if it is both divisible by 100 and 400 - it is a leap year

Return the result to the user eg. 2012 was a leap year

In [ ]:
year = int(input("Enter the year here : "))

if year % 4 == 0:
  if year % 100 == 0:
    if year % 400 == 0:
      print(f"{year} is a Leap Year")
    else:
      print(f"{year} is NOT a Leap Year")
  else:
    print(f"{year} is a Leap Year")

else:
  print(f"{year} is NOT a Leap year")

Enter the year here : 1900
1900 is NOT a Leap Year

Write a python script that does the following:

1. Takes three inputs - angle1, angle2, angle3
- Assertain that the 3 angles add up to 180
2. Categorizes them into one of the following: equilateral, isosceles, scalene or right angled triangle
3. Returns the result to the user

and - return True if both conditions are satisfied

or - returns True if either of the conditions is satisfied

In [ ]:
angle1 = int(input("Enter the first angle here :"))
angle2 = int(input("Enter the second angle here :"))
angle3 = int(input("Enter the third angle here :"))

if angle1 + angle2 + angle3 == 180:
  if angle1 == angle2 == angle3:
    print("Equilateral triangle")
  elif angle1 == angle2 or angle1 == angle3 or angle2 == angle3:
    if angle1 == 90 or angle2 == 90 or angle3 == 90:
      print("Isosceles and Right angled triangle")
    else:
      print("Isosceles triangle")
  elif angle1 == 90 or angle2 == 90 or angle3 == 90:
    print("Right angled triangle")
  else:
    print("Scalene triangle")
else:
  print("Not a valid triangle")

Enter the first angle here :120
Enter the second angle here :120
Enter the third angle here :50
Not a valid triangle

Sequential Datatypes - hold more than a single value

eg. List, Tuple, Set

List
- store multiple values within the same variable
- created using [] Square Brackets
- Can store different datatypes - strings, integers, float, Booleans, other sequential datatypes
- values within a list are called elements

In [ ]:
fruits = ["Apple", "Watermelon", "Mango", "Kiwi", "Avocado"]
print(len(fruits))
print(type(fruits))

5
<class 'list'>

In [ ]:
print(len("Python Programming"))

19

In [ ]:
ages = [21, 30, 36, 42, 19]
print(len(ages))

5

Lists are ordered - we can access an element within a list using its index

Indexing in programming always start with 0

The last index in a list is always -1 index

In [ ]:
car_brands = ["Range Rover", "Audi", "Porsche", "BMW", "Lamboghini", "Toyota", "Mercedes", "Ford"]

print(car_brands[4])

print(car_brands[-1])

Lamboghini
Ford

In [ ]:
electronics = ["Coffee Maker", "Toaster", "Washing Machine", "Microwave"]

print(electronics[-1])

Microwave

In [ ]:
electronics[0] = "Blender"

print(electronics)

['Blender', 'Toaster', 'Washing Machine', 'Microwave']

List Methods

.append() - adds an element to the end of a list

In [ ]:
fruits.append("Banana")

print(fruits)

['Apple', 'Watermelon', 'Mango', 'Kiwi', 'Avocado', 'Pineapple', 'Coconut', 'Banana']

In [ ]:
print(sorted(fruits))

['Apple', 'Avocado', 'Banana', 'Coconut', 'Kiwi', 'Mango', 'Pineapple', 'Watermelon']

In [ ]:
str_numbers = ["5", "8", "1", "6", "3", "12", "25", "150"]

print(sorted(str_numbers))

['1', '12', '150', '25', '3', '5', '6', '8']

.insert() - insert an element to a given position in a list

In [ ]:
colours = ["Black", "Red", "Green", "White"]

colours.insert(2, "Purple")

print(colours)

['Black', 'Red', 'Purple', 'Green', 'White']

.pop() - remove the last element in a list

In [ ]:
colours.pop()

print(colours)

['Black', 'Red', 'Purple', 'Green']

.remove() - remove a specified element

In [ ]:
print(colours)

colours.remove("Red")

print(colours)

['Black', 'Red', 'Purple', 'Green']
['Black', 'Purple', 'Green']

Create a python script that does the following:

1. Hard code 10 years of birth for different people
2. Add 2003 to the end of the list
3. Add 1987 to be the third value within the list
4. Sort the years of birth
5. Display the resultant list

In [ ]:
years_of_birth = [1990, 1995, 2005, 2000, 1970, 1965, 1980, 1985, 1995, 2000]

years_of_birth.append(2003)

years_of_birth.insert(2, 1987)

print(sorted(years_of_birth))

[1965, 1970, 1980, 1985, 1987, 1990, 1995, 1995, 2000, 2000, 2003, 2005]

Joining multiple lists

In [ ]:
london_clubs = ["Chelsea", "Tottenham", "Crystal Palace", "Arsenal", "Fulham"]
manchester_clubs = ["Manchester City", "Manchester United"]
merseyside_clubs = ["Liverpool", "Everton"]

premier_league_teams = london_clubs + manchester_clubs + merseyside_clubs

print(premier_league_teams)

['Chelsea', 'Tottenham', 'Crystal Palace', 'Arsenal', 'Fulham', 'Manchester City', 'Manchester United', 'Liverpool', 'Everton']

Write a python script that does the following:

1. Hard codes 3 values of the following variables:
- East African countries
- West African countries
- South African countries
- North African countries
- Central African countries
2. Joins all of the above to a single variable - african_countries

- Get the total number of elements in african_countries
- Isolate the country at index 6 and convert it into uppercase and get the total number of characters it has

In [ ]:
east_african_countries = ["Kenya", "Tanzania", "Uganda"]
west_african_countries = ["Nigeria", "Ivory Coast", "Mali"]
south_african_countries = ["South Africa", "Swaziland", "Lesotho"]
north_african_countries = ["Tunisia", "Morocco", "Libya"]
central_african_countries = ["DRC", "Congo", "Chad"]

african_countries = east_african_countries + west_african_countries + south_african_countries + north_african_countries + central_african_countries

print(len(african_countries))
print(african_countries)

print(african_countries[6].upper())
print(len(african_countries[6]))

15
['Kenya', 'Tanzania', 'Uganda', 'Nigeria', 'Ivory Coast', 'Mali', 'South Africa', 'Swaziland', 'Lesotho', 'Tunisia', 'Morocco', 'Libya', 'DRC', 'Congo', 'Chad']
SOUTH AFRICA
12

Slicing of Lists
- Syntax : list_name[start:stop:step]
- the start index is inclusive, default start value is 0
- the stop index is exclusive, default stop value is the last element
- steps - the number of steps we take to the next element

In [ ]:
print(african_countries)

print(african_countries[2:8:2])

['Kenya', 'Tanzania', 'Uganda', 'Nigeria', 'Ivory Coast', 'Mali', 'South Africa', 'Swaziland', 'Lesotho', 'Tunisia', 'Morocco', 'Libya', 'DRC', 'Congo', 'Chad']
['Uganda', 'Ivory Coast', 'South Africa']

In [ ]:
schools = ["Braeside High School", "Nairobi School", "Alliance High School", 'Moi High School Kabarak', "St. Andrew's Turi", "Kianda School", "Emerald International"]
# first slice - Alliance High School to Moi ..
print(schools[2:4])
# second slice - start to St.Andrew's Turi
print(schools[:5])
# third slice - Kianda School to the end
print(schools[5:])

['Alliance High School', 'Moi High School Kabarak']
['Braeside High School', 'Nairobi School', 'Alliance High School', 'Moi High School Kabarak', "St. Andrew's Turi"]
['Kianda School', 'Emerald International']

Create a python script that does the following:

1. Hard codes 10 modern names.
2. Add another name to the end.
3. Modify the element at index 5 to 'Zayne'
4. Capitalize the modified element using a string method - .upper()
5. Extract all the elements from the second to the fifth element - store them - group A
6. Extract all the elements from the eighth upto the last element - store them - group B
7. Join group a to group b and store them in a variable extracted_names

In [ ]:
modern_names = ["Lola", "Savannah", "Antoine", "Tatenda", "Tyler", "Cayden", "Esmeralda", "Kim-Jon-Un", "Levi", "Natalia"]
modern_names.append("Quincy")

modern_names[5] = "Zayne".upper()

group_a = modern_names[1:5]
group_b = modern_names[7:]

extracted_names = group_a + group_b

print(extracted_names)

['Savannah', 'Antoine', 'Tatenda', 'Tyler', 'Kim-Jon-Un', 'Levi', 'Natalia', 'Quincy']

Unpacking of a list

In [ ]:
requirements = ["3 years", "Python Programming", "Github", "Public Speaking"]

# years_of_experience = requirements[0]
# programming_language = requirements[1]
# version_control = requirements[2]
# soft_skills = requirements[3]

years_of_experience, programming_language, version_control, soft_skills = requirements

print(f"The candidate has {years_of_experience} of experience in {programming_language}. They are comfortable working with {version_control} for version control and they have soft skills in {soft_skills}")

The candidate has 3 years of experience in Python Programming. They are comfortable working with Github for version control and they have soft skills in Public Speaking

Tuples they store multiple values within the same variable

- Ordered - indexed
- Unchangeable/immutable - once we define the tuple, the values are 'cast in stone'
- Defined using ()

In [ ]:
# list_name = [item1, item2, item3]
# tuple_name = (item1, item2, item3)

frontier_models = ("OpenAI", "Anthropic - Claude", "Google Gemini", "DeepSeek", "Perplexity", "Grok")
opensource_models = ("Llama", "Qwen")

print(frontier_models[-1])

Grok

In [ ]:
opensource_models = list(opensource_models)
opensource_models.append("Test")
opensource_models = tuple(opensource_models)
print(opensource_models)

('Llama', 'Qwen', 'Test')

Slicing of a tuple

In [ ]:
print(frontier_models)

('OpenAI', 'Anthropic - Claude', 'Google Gemini', 'DeepSeek', 'Perplexity', 'Grok')

Create a python script that does the following:

1. Hard code the different types of plastics into a tuple (7)
2. Get the number of elements in that tuple using code
3. Get the number of characters in the last element
4. Remove the third element - work-around*
5. Have the final sequential datatype as tuple and display the result

In [ ]:
plastic_types = ("PET", "HDPE", "PVC", "LDPE", "ABS", "PP", "Polythene")
print(f"There are {len(plastic_types)} types of plastics in the tuple")
print(f"There are {len(plastic_types[-1])} characters in the word {plastic_types[-1]}")
plastic_types = list(plastic_types)
plastic_types.pop(2)
plastic_types = tuple(plastic_types)
print(plastic_types)

There are 7 types of plastics in the tuple
There are 9 characters in the word Polythene
('PET', 'HDPE', 'LDPE', 'ABS', 'PP', 'Polythene')

Safaricom Sim Toolkit

Create functions to do the following:
- get_promotional_message ()hard code 5 promotional message from Mpesa then randomly pick one and return it
-get_date_time() - returns the current date and time
- generate_the_transaction code() - year -hardcode

month - dictionary map 1 - 12 to A-L
date - dictionary - keys-dates, values being the character
other 10 character - randomly pick them - random

In [ ]:
from datetime import datetime
import pytz
import random

def get_date_time():
  eat = pytz.timezone("Africa/Nairobi")
  eat_time = datetime.now(eat)
  eat_string= str(eat_time)
  time_list = eat_string.split(" ")
  current_time = time_list[1].split(".")[0]
  current_date = time_list[0]
  return current_date, current_time

def transaction_codes(current_date):
  year,month,day = current_date.split("-")
  year_codes = {
      "2025":"T",
      "2026":"U",
      "2027":"V"}
  year_code = year_codes.get(year)

  monthly_codes = {
      "01": "A",
      "02": "B",
      "03": "C",
      "04": "D",
      "05":"E",
      "06": "F",
      "07": "G",
      "08": "H",
      "09": "I",
      "10": "J",
      "11":"K",
      "12": "L"
  }
  Monthly_code = monthly_codes.get(month)
  Day_of_month = {
      "01": "1",
      "02": "2",
      "03": "3",
      "04" : "4",
      "05" : "5",
      "06" : "6",
      "07": "7",
      "08": "8",
      "09" : "9",
      "10" : "A",
      "11": "B",
      "12" : "C",
      "13" : "D",
      "14" : "E",
      "15" : "F",
      "16" : "G",
      "17" : "H",
      "18" : "I",
      "19": "J",
      "20": "K",
      "21": "L",
      "22": "M",
      "23": "N",
      "24": "O",
      "25": "P",
      "26": "Q",
      "27": "R",
      "28": "S",
      "29": "T",
      "30": "U",
      "31": "V"
  }
  day_of_month = Day_of_month.get(day)
  transaction_code =f"{year_code}{Monthly_code}{day_of_month}"

  possible_characters = ["A", "B", "C","D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z", "0", "1", "2" "3", "4","5","6", "7","8", "9"]
  for i in range(7):
    picked_char= random.choice(possible_characters)
    transaction_code += picked_char
  return transaction_code





date_today, time_now = get_date_time()
print (date_today)
transaction_codes(date_today)
#print(f"Date: {date_today}, time: {time_now}")

2025-05-26

'TEQP6KVOGG'

In [ ]:
from datetime import datetime
import pytz
import random
print("Welcome to the Safaricom SIM Toolkit")

mpesa_balance = 300000
daily_transaction_limit = 500000
mpesa_pin = 1234
airtime_balance = 100

def get_date_time():
  eat = pytz.timezone("Africa/Nairobi")
  eat_time = datetime.now(eat)
  eat_string= str(eat_time)
  time_list = eat_string.split(" ")
  current_time = time_list[1].split(".")[0]
  current_date = time_list[0]
  return current_date, current_time


def get_promotional_message():
 promotional_messages = [""" Sign-up for Lipa Na Mpesa online https://mpesaforbusiness.co.ke""", """ Save frequent tills for quick payment on Mpesa app https://bit.ly/mpesalnk""", """Earnest interest daily on Ziidi MMF,Dail *334#""", """You can now access Mpesa via *334#""", """Save frequent Paybills for quick payment on Mpesa app https://bit.ly/mpesalnk"""]
 message = random.choice(promotional_messages)
 return message


def transaction_codes(current_date):
  year,month,day = current_date.split("-")
  year_codes = {
      "2025":"T",
      "2026":"U",
      "2027":"V"}
  year_code = year_codes.get(year)

  monthly_codes = {
      "01": "A",
      "02": "B",
      "03": "C",
      "04": "D",
      "05":"E",
      "06": "F",
      "07": "G",
      "08": "H",
      "09": "I",
      "10": "J",
      "11":"K",
      "12": "L"
  }
  Monthly_code = monthly_codes.get(month)
  Day_of_month = {
      "01": "1",
      "02": "2",
      "03": "3",
      "04" : "4",
      "05" : "5",
      "06" : "6",
      "07": "7",
      "08": "8",
      "09" : "9",
      "10" : "A",
      "11": "B",
      "12" : "C",
      "13" : "D",
      "14" : "E",
      "15" : "F",
      "16" : "G",
      "17" : "H",
      "18" : "I",
      "19": "J",
      "20": "K",
      "21": "L",
      "22": "M",
      "23": "N",
      "24": "O",
      "25": "P",
      "26": "Q",
      "27": "R",
      "28": "S",
      "29": "T",
      "30": "U",
      "31": "V"
  }
  day_of_month = Day_of_month.get(day)
  transaction_code =f"{year_code}{Monthly_code}{day_of_month}"

  possible_characters = ["A", "B", "C","D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z", "0", "1", "2" "3", "4","5","6", "7","8", "9"]
  for i in range(7):
    picked_char= random.choice(possible_characters)
    transaction_code += picked_char
  return transaction_code



main_options = input("""
1. Safaricom +
2. M-PESA
""")
if main_options == "1":
  safaricom_plus_options = input("""
  1. My Account
  2. M-Banking Services
  """)
  if safaricom_plus_options == "1":
    safaricom_user_input = input("""
    1. Balance enquiry
    2. Top-up
    3. Selfcare
    4. Customer Care

    """)
    if safaricom_user_input == "1":
      print(f"Your airtime balance is {airtime_balance}")
    elif safaricom_user_input == "2":
      print("You have selected Top-up")
    elif safaricom_user_input == "3":
      print("You have selected Selfcare")
    elif safaricom_user_input == "4":
      print("You have selected Customer Care")


  elif safaricom_plus_options == "2":
    print("You have selected M-Banking Services")
  else:
    print("Invalid Option")
elif main_options == "2":
  mpesa_options = input("""
  1. Send Money
  2. Withdraw Cash
  3. Buy Airtime
  4. Loans and Savings
  5. Lipa na M-PESA
  6. My Account
  """)
  if mpesa_options == "1":
    phone_number = input("Enter the phone number you want to send money to : ")
    amount = int(input("Enter the amount you want to send : "))
    user_pin = int(input("Enter your PIN : "))
    if user_pin == mpesa_pin:
     if amount <= mpesa_balance:
      mpesa_balance -= amount
      daily_transaction_limit -= amount
      transaction = transaction_codes(date_today)
      print(f"{transaction} Confirmed. You have Succesfully sent  {amount} to Mary Kipchoge {phone_number} on {date_today} at {time_now} Your new Mpesa balance is {mpesa_balance}. Amount you can transact in a day is {daily_transaction_limit}. {get_promotional_message()}")
     else:
      print("Transaction Failed. You have insufficient balance in your account")

    else:
      print("You have entered the incorrect PIN")
  elif mpesa_options == "2":
    print("You have selected Withdraw Cash")
  elif mpesa_options == "3":
    airtime_input = int(input("""
    1. My Phone
    2. Other Phone
    """))
    if airtime_input == "1":
      amount = int(input("Enter the amount you want to send : "))
      user_pin = int(input("Enter your PIN : "))
      if user_pin == mpesa_pin:
        if amount <= mpesa_balance:
          mpesa_balance -= amount
          daily_transaction_limit -= amount
          transaction = transaction_codes(date_today)
          airtime_balance += amount
          print(f"{transaction} Confirmed. You have Succesfully bought {amount} airtime on {date_today} at {time_now} Your new Mpesa balance is {mpesa_balance}.Your new airtime balance is {airtime_balance} Amount you can transact in a day is {daily_transaction_limit}. {get_promotional_message()}")
        else:
          print("Transaction Failed. You have insufficient balance in your account")

      else:
          print("You have entered the incorrect PIN")
    else:
      phone_number = input("Enter the phone number you want to send money to : ")
      amount = int(input("Enter the amount you want to send : "))
      user_pin = int(input("Enter your PIN : "))
      if user_pin == mpesa_pin:
        if amount <= mpesa_balance:
          mpesa_balance -= amount
          daily_transaction_limit -= amount
          transaction = transaction_codes(date_today)
          print(f"{transaction} Confirmed. You have Succesfully bought {amount} airtime to Mary Kipchoge {phone_number} on {date_today} at {time_now} Your new Mpesa balance is {mpesa_balance}. Amount you can transact in a day is {daily_transaction_limit}. {get_promotional_message()}")
        else:
          print("Transaction Failed. You have insufficient balance in your account")

      else:
          print("You have entered the incorrect PIN")

  elif mpesa_options == "4":
    print("You have selected Loans and Savings")
  elif mpesa_options == "5":
    print("You have selected Lipa na M-PESA")
    lipa_mpesaoptions = input("""
    1. Pay Bill
    2. Buy Goods and Services
    3. Pochi La Biashara
    """)
    if lipa_mpesaoptions == "1":
      business_num = int(input("Enter business Number: "))
      account_num = input("Enter Account Number: ")
      amount = int(input("Enter Amount: "))
      user_pin = int(input("Enter your pin: "))
      if user_pin == mpesa_pin:
       if amount <= mpesa_balance:
          mpesa_balance -= amount
          daily_transaction_limit -= amount
          print(f"TEK345D6D Confirmed. You have Succesfully sent  {amount} to Mary Kipchoge  on 20/5/2025 at 9:22am. Your new Mpesa balance is {mpesa_balance}. Amount you can transact in a day is {daily_transaction_limit}. {get_promotional_message()}.")
       else:
        print("Transaction Failed. You have insufficient balance in your account")

    elif lipa_mpesaoptions == "2":
      till_num =int(input("Enter the Till number"))
      amount= int(input("Enter the Amount"))
      user_pin = int(input("Enter your pin:"))
      if user_pin == mpesa_pin:
        if amount <= mpesa_balance:
          mpesa_balance -= amount
          daily_transaction_limit -= amount
          print(f"TEK345D6D Confirmed. You have Succesfully sent  {amount} to Mary Kipchoge  on 20/5/2025 at 9:22am. Your new Mpesa balance is {mpesa_balance}. Amount you can transact in a day is {daily_transaction_limit}. {get_promotional_message()}.")
        else:
          print("Transaction Failed. You have insufficient balance in your account")

    elif lipa_mpesaoptions == "3":
      pochi_biashara = int(input("Enter the phone number"))
      amount = int(input("Enter the amount"))
      user_pin = int(input("Enter your pin:"))
      if user_pin == mpesa_pin:
        if amount <= mpesa_balance:
          mpesa_balance -= amount
          daily_transaction_limit -= amount
          print(f"TEK345D6D Confirmed. You have Succesfully sent  {amount} to Mary Kipchoge  on 20/5/2025 at 9:22am. Your new Mpesa balance is {mpesa_balance}. Amount you can transact in a day is {daily_transaction_limit}. {get_promotional_message()}.")

        else:
          print("Transaction Failed. You have insufficient balance in your account")

    else:
      print("Invalid option")
  elif mpesa_options == "6":
    my_acc_options = input("""
    1. Mini Statement
    2. Mpesa PIN Manager
    3. Change Language
    4. Update Customer Menu
    5. Check Balance

    """)
    if my_acc_options == "1":
      print("You have selected Mini Statement")
    elif my_acc_options == "2":
      old_pin = int(input("Enter your old PIN: "))
      if old_pin == mpesa_pin:
        new_pin = int(input("Enter your new PIN: "))
        mpesa_pin = new_pin
        print("Your PIN has been successfully changed")
      else:
        print("Invalid PIN")
    elif my_acc_options == "3":
      print("You have selected Change Language")
    elif my_acc_options == "4":
      print("You have selected Update Customer Menu")
    elif my_acc_options == "5":

      print(f"Your Mpesa Balance is {mpesa_balance}")
    else:
      print("Invalid Option")
else:
  print("Invalid Option")

Welcome to the Safaricom SIM Toolkit

1. Safaricom +
2. M-PESA
2

  1. Send Money
  2. Withdraw Cash
  3. Buy Airtime
  4. Loans and Savings
  5. Lipa na M-PESA
  6. My Account
  1
Enter the phone number you want to send money to : 074567829
Enter the amount you want to send : 200
Enter your PIN : 1234
TEQ78QONVV Confirmed. You have Succesfully sent  200 to Mary Kipchoge 074567829 on 2025-05-26 at 10:45:46 Your new Mpesa balance is 299800. Amount you can transact in a day is 499800.  Save frequent tills for quick payment on Mpesa app https://bit.ly/mpesalnk

In [ ]:
# if condition1:
#   if nested_condition:
#     code to be run
#   elif nested_condition2:
#     code to be run
# elif condition2:
#   code to be executed if condition2 is True
# elif condition3:
#   code to be executed if condition3 is True
# else:
#   code to be executed if all the conditions are False

chsdc
cjskdhc
cbdkzhasls
cajxh
xskajxgas
cbhjxajxb
xvajsxa
 bxjagxiu
 xvaysut
 ]wfwqysy

Set - sequential datatype that stores multiple values

- unordered
- does not allow for duplicates
- defined using the curly brackets

In [ ]:
# list_name = [item1, item2, item3]
# tuple_name = (item1, item2, item3)
# set_name = {item1, item2, item3}

dice_outcomes = {1, 2, 3, 4, 5, 6, 3, 5, 1, 4}

print(type(dice_outcomes))
print(dice_outcomes)

<class 'set'>
{1, 2, 3, 4, 5, 6}

In [ ]:
alphabet = {"A", "B", "C", "D", "E"}

alphabet.add("F")

print(alphabet)

{'F', 'D', 'C', 'E', 'A', 'B'}

In [ ]:
alphabet.remove("E")

In [ ]:
print(alphabet)

{'F', 'D', 'C', 'A', 'B'}

Dictionary - key - value pairs

Ordered

Changeable

Created using the {}

In [ ]:
# Syntax
# dict_name = {
#     key1: value1,
#     key2: value2,
#     key3: value3
# }

job_requirements = {
    "Programming Language": "Python",
    "Version Control": "Git",
    "Years of Experience": 1,
    "Soft Skills": "Public Speaking",
    "Spoken Languages": ["English", "Kiswahili"],
    "Work under pressure": True
}

print(job_requirements)

{'Programming Language': 'Python', 'Version Control': 'Git', 'Years of Experience': 1, 'Soft Skills': 'Public Speaking', 'Spoken Languages': ['English', 'Kiswahili'], 'Work under pressure': True}

Access the values using square brackets

In [ ]:
print(job_requirements["Programming Language"])

Python

Access the values using .get() method

In [ ]:
print(job_requirements.get("Spoken Languages"))

['English', 'Kiswahili']

Getting all the keys in a dictionary

In [ ]:
print(job_requirements.keys())

dict_keys(['Programming Language', 'Version Control', 'Years of Experience', 'Soft Skills', 'Spoken Languages', 'Work under pressure'])

Getting the values in a dictionary

In [ ]:
print(job_requirements.values())

dict_values(['Python', 'Git', 1, 'Public Speaking', ['English', 'Kiswahili'], True])

In [ ]:
print(job_requirements["Spoken Languages"][0])

English

In [ ]:
username = input("Enter your name here : ")
age = int(input("Enter your age here : "))
residence = input("Enter your residence here : ")

user_details = {
    "Name": username,
    "Age": age,
    "Residence": residence
}

print(user_details)

Enter your name here : John Doe
Enter your age here : 35
Enter your residence here : Ngong
{'Name': 'John Doe', 'Age': 35, 'Residence': 'Ngong'}

In [ ]:
user_choice = input("""
What do you want displayed
1. Name
2. Age
3. Residence
""")

if user_choice == "1":
  print(user_details["Name"])
elif user_choice == "2":
  print(user_details["Age"])
elif user_choice == "3":
  print(user_details["Residence"])
else:
  print("Invalid Option")

What do you want displayed
1. Name
2. Age
3. Residence
name
Invalid Option

Write a python script that does the following:

1. Takes a single input from the user - number in words eg Nine
2. Maps the input to a given numeral eg 9

prints out the result eg Nine is mapped to 9

In [ ]:
num_mapping = {
    "one": 1,
    "two": 2,
    "three": 3,
    "four": 4,
    "five": 5,
    "six": 6,
    "seven": 7,
    "eight": 8,
    "nine": 9,
    "ten": 10
}

num_words = input("Enter the number in words : ").lower()

print(f"{num_words} is mapped to {num_mapping.get(num_words)}")

Enter the number in words :
 is mapped to None

Adding pairs to a dictionary

Direct Assignment

In [ ]:
num_mapping["zero"] = 0

print(num_mapping)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 7, 'eight': 8, 'nine': 9, 'ten': 10, 'zero': 0}

Adding multiple items - .update()

In [ ]:
num_mapping.update({
    "eleven": 11,
    "twelve": 12,
    "thirteen": 13,
    "fourteen": 14,
    "fifteen": 15,
    "sixteen": 16,
    "seventeen": 17,
    "eighteen": 18,
    "nineteen": 19,
    "twenty": 20
})

print(num_mapping)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 7, 'eight': 8, 'nine': 9, 'ten': 10, 'zero': 0, 'eleven': 11, 'twelve': 12, 'thirteen': 13, 'fourteen': 14, 'fifteen': 15, 'sixteen': 16, 'seventeen': 17, 'eighteen': 18, 'nineteen': 19, 'twenty': 20}

Removing pairs - .pop()

In [ ]:
num_mapping.pop("zero")

print(num_mapping)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 7, 'eight': 8, 'nine': 9, 'ten': 10, 'eleven': 11, 'twelve': 12, 'thirteen': 13, 'fourteen': 14, 'fifteen': 15, 'sixteen': 16, 'seventeen': 17, 'eighteen': 18, 'nineteen': 19, 'twenty': 20}

Write a python script that does the following:

1. Takes 2 inputs from a student - Name, Marks (out of 84)
2. Map the name to the marks the student got
3. Allocate a grade A(above 80), A- (74-80), B+(65-73),B(60-64), B-(55-59), C+(50-54), C(45-49), C-(40-44), D+(35-39), D(30-34), D-(25-29), E(below 25)

In [ ]:
name = input("Enter your name here : ")
marks = int(input("Enter your marks here : "))

# marks_mapping = {
#     name: marks
# }
marks_mapping.update({
    name: marks
})

if marks > 84 or marks < 0:
  print("You have entered an invalid mark")
else:
  print(marks_mapping)

Enter your name here : Wayne
Enter your marks here : 30
{'Eunice': 50, 'Wayne': 30}

In [ ]:
print(marks_mapping)

{'Eunice': 50, 'Wayne': 30}

In [ ]:
student_inq = input("Enter the name of the student to fetch their grade : ")

mark_got = marks_mapping.get(student_inq)

if mark_got > 80:
  print(f"{student_inq} got a grade A")
elif mark_got >= 74:
  print(f"{student_inq} got a grade A-")
elif mark_got >= 65:
  print(f"{student_inq} got a grade B+")
elif mark_got >= 60:
  print(f"{student_inq} got a grade B")
elif mark_got >= 55:
  print(f"{student_inq} got a grade B-")
elif mark_got >= 50:
  print(f"{student_inq} got a grade C+")
elif mark_got >= 45:
  print(f"{student_inq} got a grade C")
elif mark_got >= 40:
  print(f"{student_inq} got a grade C-")
elif mark_got >= 35:
  print(f"{student_inq} got a grade D+")
elif mark_got >= 30:
  print(f"{student_inq} got a grade D")
elif mark_got >= 25:
  print(f"{student_inq} got a grade D-")
else:
  print(f"{student_inq} got a grade E")

Enter the name of the student to fetch their grade : Eunice
Eunice got a grade C+

Logical Operators - return Boolean - True or False

and - return True if both conditions are True

or return True if at least one of the two conditions is true

not - negate values

In [ ]:
print(10 > 5 and 2 != 2)

False

In [ ]:
name = "PETER"

print(name == "Peter" or name == "PETER")

True

In [ ]:
print(not 50 < 100)

False

Write a python script that does the following

PAYSLIP GENERATOR

1. Takes 2 inputs from the user - name, gross
2. Calculates the tax band they belong - deducts the PAYE
3. Deducts NSSF and NHIF
4. Returns the final payslip

In [ ]:
name = input("Enter your name : ").upper()
id_no = int(input("Enter your ID number: "))
basic_salary = int(input("Enter your basic salary: "))
allowances = int(input("Enter your allowance: "))

gross_salary = basic_salary+ allowances
if gross_salary > 0:
  if gross_salary < 8000 :
    nssf_contr = 480
  elif gross_salary <=72000:
    nssf_contr =3840
  else:
    nssf_contr = 4320

  shif_contr =0.0275 * gross_salary
  if shif_contr < 300:
    shif_contr = 300

  #PAYE
  if gross_salary >= 24000:
    paye_ded = 0.1 * 24000
    taxable_income = gross_salary - 24000
    if taxable_income >= 8333:
      paye_ded += 0.25 * 8333
      taxable_income =taxable_income - 8333
      paye_ded = paye_ded + 0.3* taxable_income
    else:
      paye_ded = paye_ded + 0.25 * taxable_income
  else:
    paye_ded = 0.1 * gross_salary



  print(f"""
  Name: {name}
  ID Number: {id_no}
  Basic Pay: Ksh.{basic_salary}
  Allowances: Ksh.{allowances}
  Gross pay: Ksh.{gross_salary}
  NSSF Deduction: Ksh.{nssf_contr}
  SHIF Deduction: Ksh.{shif_contr}
  PAYE Deduction: Ksh.{paye_ded}
  Net Pay: Ksh.{gross_salary - (nssf_contr + shif_contr + paye_ded)}
  """)
else:
  print("Invalid Input")

Enter your name : Mary John
Enter your ID number: 234567
Enter your basic salary: 100000
Enter your allowance: 30000

Name: MARY JOHN
ID Number: 234567
Basic Pay: Ksh.100000
Allowances: Ksh.30000
Gross pay: Ksh.130000
NSSF Deduction: Ksh.4320
SHIF Deduction: Ksh.3575.0
PAYE Deduction: Ksh.33783.35
Net Pay: Ksh.88321.65

Membership operators
in - check whether an element/string is part of another -return true if one is part of the other
not in - return a true if one if one is not part of the other

In [ ]:
print("python" in "Python is the most popular programming language")

False

In [ ]:
"Python" in ["Java", "Javascript",  "Swift", "Ruby"]

False

Loops  - blocks of code that are executed  iteratively
- For loop - iterate over elememts in a sequential data types, or iterate over code in a given range
-While loops - iterate over code until it gets terminated

In [ ]:

fruits = ["Banana", "Watermelon", "Avocado", "Passion", "Mango"]
favorites = ["Watermelon","Mango"]

for fruit in fruits:
 if fruit in favorites:
   print(f"I love {fruit}")
 else:
  print(f"A {fruit} is ok")

A Banana is ok
I love Watermelon
A Avocado is ok
A Passion is ok
I love Mango

Write python script that does the following:
1. Hard codes the big five animals and stores them in a list
2. Hard codes six other animals and stores them in a list
3. join the two list
4. sort the list in alphabetical list
5. print out the resultant list
6. loop through the resultant list while printing the animal and whether it is part of the big five e.g Zebra is not part of the big 5

In [ ]:
big_five =["Lion", "Rhino", "Buffalo", "Leopard","Elephant"]
animals = ["Girrafe", "Zebra", "Warthog", "Chimpanzee", "Antelope", "Hippopotamus"]
all_animals= big_five + animals
all_animals.sort()
print(all_animals)

for animal in all_animals:
  if animal in animals:
    print(f"{animal} is not part of the Big Five")
  else:
    print(f"{animal} is part of the Big Five")

['Antelope', 'Buffalo', 'Chimpanzee', 'Elephant', 'Girrafe', 'Hippopotamus', 'Leopard', 'Lion', 'Rhino', 'Warthog', 'Zebra']
Antelope is not part of the Big Five
Buffalo is part of the Big Five
Chimpanzee is not part of the Big Five
Elephant is part of the Big Five
Girrafe is not part of the Big Five
Hippopotamus is not part of the Big Five
Leopard is part of the Big Five
Lion is part of the Big Five
Rhino is part of the Big Five
Warthog is not part of the Big Five
Zebra is not part of the Big Five

Ranges - start is inclusive and stop is exclusive

In [ ]:
for num in range(10):
  print(num)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(30,40):
  print(i)

30
31
32
33
34
35
36
37
38
39

write python script that prints out all the numbers between 1 and 100 that are divisible by 7. use a for loop

In [ ]:
div_by7 = []
for i in range(1, 101):
  if i % 7 == 0:
    div_by7.append(i)
print(div_by7)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

write a python script that does the following:
1. loops through all the numbers btwn 1 and 100
2. prints FIZZ if the number is divisible by 3
3. prints BUZZ if the number is divisible by 5
4. prints FIZZBUZZ if the number is divisible by both 3 and 5

In [ ]:
for i in range(1, 101):
  if i % 3 == 0 and i % 5 == 0:
    print(f"{i} FIZZBUZZ")
  elif i % 3 == 0:
    print(f"{i} FIZZ")
  elif i % 5 == 0:
    print(f"{i} BUZZ")

3 FIZZ
5 BUZZ
6 FIZZ
9 FIZZ
10 BUZZ
12 FIZZ
15 FIZZBUZZ
18 FIZZ
20 BUZZ
21 FIZZ
24 FIZZ
25 BUZZ
27 FIZZ
30 FIZZBUZZ
33 FIZZ
35 BUZZ
36 FIZZ
39 FIZZ
40 BUZZ
42 FIZZ
45 FIZZBUZZ
48 FIZZ
50 BUZZ
51 FIZZ
54 FIZZ
55 BUZZ
57 FIZZ
60 FIZZBUZZ
63 FIZZ
65 BUZZ
66 FIZZ
69 FIZZ
70 BUZZ
72 FIZZ
75 FIZZBUZZ
78 FIZZ
80 BUZZ
81 FIZZ
84 FIZZ
85 BUZZ
87 FIZZ
90 FIZZBUZZ
93 FIZZ
95 BUZZ
96 FIZZ
99 FIZZ
100 BUZZ

Enumerate -is used to store both the index and the active element in a given sequential data type

In [ ]:
top_5prem = ["Liverpool", "Arsenal", "NewCastle","Chelsea", "Aston Villa"]
for index, i in enumerate (top_5prem):
  print(f"{index + 1}. {i}")

1. Liverpool
2. Arsenal
3. NewCastle
4. Chelsea
5. Aston Villa

Nested Loops

In [ ]:
roles =["Machine Learning Engineer", " Data Scientist" ]
skills = [ "Python Programming", "Machine Learning", "EDA"]
for role in roles:
  print(f"For a {role} role, you need experience in: ")
  for skill in skills:
    print(f"- {skill}")

For a Machine Learning Engineer role, you need experience in:
- Python Programming
- Machine Learning
- EDA
For a  Data Scientist role, you need experience in:
- Python Programming
- Machine Learning
- EDA

break - it terminates execution there and then
continue - skips the current iteration and goes the next

In [ ]:
for i in range(10):
  print (i)
  if i == 4:
    break

0
1
2
3
4

In [ ]:
for i in range (10):
  if i == 4:
    continue
  else:
    print(i)

0
1
2
3
5
6
7
8
9

While Loops
- Executes a set of statements as lon as a condition is true
- Remember to increment - so as to avoid infinite loops

In [ ]:
count = 1
while count <=5:
  print(count)
  count += 1

1
2
3
4
5

Functions - block of code that performs a specific task. It only runs when called.
- We can also pass info into a function - arguments and parameters
- Types of Functions:
1. In-Built functions - print(), type(), input(), range()
2. User Defined -
3. Standard Library functions
4. Third-party library functions

Parameters -  used during function defination
Arguments - used in function Calling

In [ ]:
def greetings(name, time):
  if time == "Morning":
    return f"Good Morning, {name}"
  elif time == "Afternoon":
    return f"Good Afternoon, {name}"
  elif time == "Evening":
    return f"Good Evening, {name}"
  else:
    return f"Hello, {name}"

greetings("James", "Afternoon")


fahrenheit = (degress celsius * 9/5) + 32

write a python script that coverts degrees celsius to degrees fahrenheit
1. define a function that takes a  single parameter  -temp in  degrees celsius

2. add functionaluty to convert it into degrees fahrenheit
3 return the result ans save it in a fahrenheit variables
4. print it out

In [ ]:
def temperature(temp_cel):
  temp_fah = (temp_cel * 1.8) + 32
  temp_kel = temp_cel + 273.5
  return temp_fah,temp_kel

temp_cel = float(input("Enter temperatute in degrees celsius: "))
temp_fah,temp_kel = temperature(temp_cel)

print(f"{temp_cel} in degrees celsius is equal to {temp_fah} degress Fahrenheint and also equal to {temp_kel} Kelvins")

Enter temperatute in degrees celsius: 34
34.0 in degrees celsius is equal to 93.2 degress Fahrenheint and also equal to 307.5 Kelvins

write a python script that does the following:
1. a function that calc the vol of a sphere
2. function that calc the area of circle
3. func that calc the vol of a cube
4. function that calc the SA of a closed cylinder

In [ ]:
def vol_of_sphere(radius):
  volume = 4/3 * 3.142 * (radius**3)
  print(f"The Volume of the Sphere whose radius is {radius} the volume is: {round(volume,4)} " )
  return radius

def area_of_circle(radius):
  areacircle = 3.142 * (radius**2)
  print(f"The area of the circle whose radius is {radius} is: {round(areacircle, 4)}")
  return radius
def vol_of_cube(length):
  vol_cube =(length**3)
  print(f"The volume of the cube whose length is {length} is: {round(vol_cube, 4)}")
  return length

def sa_of_cylinder(radius, height):
  sa_cylinder = 2*(3.142 * (radius**2)) + 3.142 * 2 * radius * height
  print(f"The Surface Area of the Cylinder whose radius is {radius} and whose height is {height} is: {round(sa_cylinder,4)} ")
  return radius, height


user_input = input("""
Pick one of the following:
1. Volume of a sphere
2. Area of a Circle
3. Volume of a Cube
4. Surface Area of a cylinder
""")

if user_input == "1":
  radius = float(input("Enter the radius of the Sphere: "))
  vol_of_sphere( radius)
elif user_input == "2":
  radius = float(input("Enter the radius of the Circle: "))
  area_of_circle(radius)
elif user_input == "3":
  length = float(input("Enter the length of the cube: "))
  vol_of_cube(length)
elif user_input == "4":
   user_radius = float(input("Enter the radius of the circle: "))
   user_height = float(input("Enter the height of the cylinder: "))
   sa_of_cylinder(radius=user_radius, height=user_height)
else:
  print("Invalid input")

Pick one of the following:
1. Volume of a sphere
2. Area of a Circle
3. Volume of a Cube
4. Surface Area of a cylinder
4
Enter the radius of the circle: 7
Enter the height of the cylinder: 14
The Surface Area of the Cylinder whose radius is 7.0 and whose height is 14.0 is: 923.748

Libraries/modules - scripts or files that contain code/makes oyr work easier
pip = Python installer package
Syntax: !pip install libray_names

Math libary - contains mathematical procedures

In [ ]:
import math
#print(math.sqrt(234567))
num = 234.567689
#rounding off to the x decimal places
print(round(num,2))

#rounding up
print(math.ceil(num))
#rounding down
print(math.floor(num))

234.57
235
234

random library - used to randomize things

In [ ]:
import random
print(random.randrange(1,100))

64

use the random library to generate a list of 5 random numbers of btwn 1 - 500
- for loop
- generate a random number each time  - append to that list

In [ ]:
list1 = []
for i in range(5):
  number = random.randrange(1,501)
  list1.append(number)
print(list1)

[113, 230, 483, 438, 360]

run 1000 iterations, and give the percentage result for each phone brand

In [ ]:
import random
phone_brands = ["Iphone", "Samsung", "Oppo", "Techno", "Infinix", "Nokia"]
iphone =[]
samsung = []
oppo = []
techno = []
infinix = []
nokia = []
for i in range(1000):
  iteration = random.choice(phone_brands)
  if iteration == "Iphone":
    iphone.append(iteration)
  elif iteration == "Samsung":
    samsung.append(iteration)
  elif iteration == "Oppo":
    oppo.append(iteration)
  elif iteration == "Techno":
    techno.append(iteration)
  elif iteration == "Infinix":
    infinix.append(iteration)
  elif iteration == "Nokia":
    nokia.append(iteration)


len_iphone = len(iphone)
len_samsung = len(samsung)
len_oppo = len(oppo)
len_techno = len(techno)
len_infinix = len(infinix)
len_nokia = len(nokia)

print(f"The percentage of Iphones is {(len_iphone /1000)* 100}%")
print(f"The percentage of samsung is {(len_samsung /1000) * 100}%")
print(f"The percentage of Oppo is {(len_oppo /1000) * 100}%")
print(f"The percentage of Techno is {(len_techno /1000) * 100}%")
print(f"The percentage of Infinix is {(len_infinix /1000) * 100}%")
print(f"The percentage of Nokia is {(len_nokia /1000) * 100}%")

The percentage of Iphones is 16.900000000000002%
The percentage of samsung is 13.600000000000001%
The percentage of Oppo is 17.299999999999997%
The percentage of Techno is 17.7%
The percentage of Infinix is 17.9%
The percentage of Nokia is 16.6%

Rock paper scissors

include 3 rounds of the game while tracking the user's score and the pc's score and display the winner and the scores

In [ ]:
import random
print("Welcome to Rock Paper Scissors Game!")
print("-----------------------------------")
picking_options = ["rock", "paper", "scissors"]
pc_score = 0
user_score = 0
for i in range(10):
  if pc_score ==2 or user_score ==2:
    break
  print(f"Round {i}")
  pc_option = random.choice(picking_options)
  user_choice = input("Enter your choice, Rock, Paper, Scissors: ").lower()
  if user_choice in picking_options:
    if user_choice == pc_option:
      print("It's a draw!")

    elif user_choice =="rock" and pc_option == "scissors" or user_choice == "paper" and pc_option == "rock" or user_choice == "scissors" and pc_option == "paper":
        print(f" You win this round. The computer chose {pc_option} and you picked {user_choice}")
        user_score +=1
    else:
      print(f"You lost this round. You chose {user_choice} the user picked {pc_option}")
      pc_score +=1
  else:
      print("Invalid Input")

print("""
-----------------------------------
""")

if user_score > pc_score:
  print(f"YOU WIN! Your score is {user_score} and the computer's score is {pc_score}")
else:
  print(f"Better luck next time. Your score is {user_score} and the computer's score is {pc_score}")

Welcome to Rock Paper Scissors Game!
-----------------------------------
Round 0
Enter your choice, Rock, Paper, Scissors: scissors
It's a draw!
Round 1
Enter your choice, Rock, Paper, Scissors: paper
 You win this round. The computer chose rock and you picked paper
Round 2
Enter your choice, Rock, Paper, Scissors: rock
You lost this round. You chose rock the user picked paper
Round 3
Enter your choice, Rock, Paper, Scissors: paper
You lost this round. You chose paper the user picked scissors

-----------------------------------

Better luck next time. Your score is 1 and the computer's score is 2